.container {
    padding: 40px 20px 0px 20px;
  }
  
  .is-dark {
    color: black;
  }
  a {
    color: black;
  }
  
  .Search-section {
    position: absolute;
    left: 20%;
  }
  
  .navbars-cat {
    display: flex;
    flex-flow: column wrap;
    width: 230px;
    height: 280px;
    justify-content: flex-start;
    align-content: flex-start;
  }
  
  .navbars-profile {
    margin-top: 25px;
    padding: 5px 20px;
  }
  
  .navbar-arrow {
    margin-left: 10px;
  }
  
  .navbar-one:hover {
    text-decoration: underline;
    color: grey;
  }
  
  .navbar-two:hover {
    text-decoration: underline;
    color: grey;
  }
  
  .navbar-line {
    position: relative;
    left: 5px;
    width: 100%;
    margin-left: 0;
    border: 1px transparent rgb(36, 35, 35);
    border-width: 0;
  }
  
  .navbar-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .navbar-item2 {
    padding: 2px 10px;
    position: relative;
    bottom: 20px;
  
    &:hover {
      text-decoration: underline;
    }
  }